<script>
window.onload = function() {
	(function() {
		("#progressbar").progressbar({
			value: <%= days_from_beginning %> / 40 * 100
		})
	})
}
</script>
<h1><img src="022stackoverflowchallenge.png" alt="022 Stack Overflow Challenge" /></h1>

<div id="description">
	<p>Welcome to <strong>022 Stack Overflow Challenge Season 2</strong>! This season features Team Seattle vs. Team Bay Area (with some Bellevue)! The rules are simple, the team with the most <strong>Stack Overflow Reputation</strong> in <strong>6 weeks</strong> wins!</p>

	<p><strong>Reputation</strong> is like Reddit upvotes, you do things on Stack Overflow and get points. Your 022 Stack Overflow Challenge score is simply any Reputation you gain after the competition start date - all competitors start at 0 points. <a href="http://stackoverflow.com/faq#reputation" target="_blank">See how to earn Stack Overflow Reputation.</a></p>

	<p>It's not too late to join! Add your name to the <a href="https://docs.google.com/spreadsheet/ccc?key=0AtdiUzPLzgsidERKS0dIeGZtYlYxbHVHY0hDRWhxZkE#gid=0">Google Doc</a> and tell Golf.</p>
</div>

<div id="progressbar"></div>

<p>Sep 28<span style="float: right">Oct 28</span></p>

<h2 class="big">Standings</h2>
<ol id="standings">
<%= @responses.inspect %>
<%
    #users = formatUsers(json_decode(curl_multi_getcontent(users)).users)
    #recentReputationChanges = json_decode(curl_multi_getcontent(recentReputationChanges)).rep_changes
    #top3Questions = json_decode(curl_multi_getcontent(top3Questions)).questions
    #worstQuestion = json_decode(curl_multi_getcontent(worstQuestion)).questions[0]
    #top3Answers = json_decode(curl_multi_getcontent(top3Answers)).answers
    #worstAnswer = json_decode(curl_multi_getcontent(worstAnswer)).answers[0]
%>